.header {
  border-bottom: 3px solid $nPrincipal;
  text-align: center;
}

.header-logo {
  width: 50%;
}

.header-menu-icono {
  width: 6.3%;
}

.header-menu-text {
  color: $nPrincipal;
  display: inline;
  font-family: "Raleway", sans-serif;
}

.header-menu {
  padding-top: 8%;
  padding-bottom: 4.3%;
}