$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;


// COLORES
// Principales
$azPrincipal: #0b7075;
$amPrincipal: #e4a930;
$nPrincipal: #be6213;

// Secundarios
$azSecundario: #068478;
$amSecundario: #be7f13;
$nSecundario: #ef6100;